<!DOCTYPE html>
<html>
    <head>
        <meta charset=“UTF-8”>
        <title>Contacts</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <nav class="nav">
            <!-- <a class="nav-links" href="/messages">Messages</a> -->
            <a class="nav-links" href="/contacts">Contacts</a>
            <a class="nav-links" href="/users/login">Login</a>
        </nav>
        <div class="contacts_container">
            {{#contactsData}}
            <div class="contact-list-item"> 
                <div class="contact-info">
                    <a id="contact_name" href="/contacts/create_message?contact={{id}}">{{name}}</a>  
                    <a id="contact_number" href="/contacts/create_message?contact={{id}}">{{phone_number}}</a>
                    <input type="hidden" id="id" name="contact" value={{id}}>
                </div>
                <div class="contact_buttons">
                    <a href="contacts/edit_contact?contact={{id}}" class="edit_button">Edit</a>
                    <button data-id="{{id}}" class="delete_button">Delete</button>
                </div>
            </div>
            <hr>
            {{/contactsData}}
        </div>
        <div class="add_contact_button_container">
        <a class="add_contact_button" href="/contacts/new">Add Contact</a>
        <div>
            <script
              src="http://code.jquery.com/jquery-3.3.1.min.js"
              integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
              crossorigin="anonymous"></script>
            <script src="/main.js"></script>
            <script src="https://media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
            <script src="https://media.twiliocdn.com/sdk/js/chat/v2.0/twilio-chat.min.js"></script>
    </body>
</html>