<!DOCTYPE html>
<html>
    <head>
        <meta charset=“UTF-8”>
        <title>Create Message</title>
        <link rel=“stylesheet” href=“style.css”>
    </head>
    <body>
            <a href="/contacts">Contacts</a>
            <a href="/users/login">Login</a>
        </nav>
        <form action = "/messages" method="POST">
            {{#contactData}}
            <h1>{{name}}</h1>
            <input id="phone_number" type="hidden" name="phone_number" value="{{phone_number}}"><br>
            <label for="body">Message</label><br>
            <textarea rows="4" cols="50" name="body" placeholder="Hey Friend!"></textarea><br>
            {{/contactData}}
            <input type="submit" value="Send Message">
      </form>
        </form>
        <script src=“main.js”></script>
        <script src="https://media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
<script src="https://media.twiliocdn.com/sdk/js/chat/v2.0/twilio-chat.min.js"></script>
    </body>
</html>