<!DOCTYPE html>
<html>
    <head>
        <meta charset=“UTF-8”>
        <title>Contacts</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        <nav class="nav">
            <!-- <a class="nav-links" href="/messages">Messages</a> -->
            <a class="nav-links" href="/contacts">Contacts</a>
            <a class="nav-links" href="/users/login">Login</a>
        </nav>
        <form id="edit_form" class="form" action="/contacts/update" method="PUT">
            {{#contactData}}
            <div class="input">
                <label class="label" for="name">Name</label><br>
                <input class="textfield-line" id="name" type="text" name="name" value={{name}}><br>
            </div>
            <div class="input">
                <label class="label" for="phone_number">Phone Number</label><br>
                <input class="textfield-line" id="phone_number" type="text" name="phone_number" value={{phone_number}}><br>
            </div>
            <input type="hidden" name="id" value="{{id}}">
            <input class="button" id="update_button" type="submit" value="Update">
            {{/contactData}}
        </form>
        <script
              src="http://code.jquery.com/jquery-3.3.1.min.js"
              integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
              crossorigin="anonymous"></script>
            <script src="/main.js"></script>
            <script src="https://media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
            <script src="https://media.twiliocdn.com/sdk/js/chat/v2.0/twilio-chat.min.js"></script>
    </body>
</html>